* {
	box-sizing: border-box;
}

html {
	font-size: 20px;
}

body {
	margin: 0;
	padding: 30px;
	display: flex;
	justify-content: center;
	height: 100%;
	background-color: #6a1b9a;
	color: #FFF;
	font-family: 'Roboto',sans-serif;
}

a, a:visited{
	color:yellowgreen;
}

main {
	background-color: #9c4dcc;
	padding: 20px;
	width: 400px;;
}



table input[type=checkbox]{
	cursor: pointer;
}

table i{
	cursor: pointer;
	opacity: .8;
}

table i:hover{
	opacity: 1;
}
